.back-to-top {
    a {
      button {
        padding: 10px;
        border-radius: 12px;
        border: 1px solid #ddd;
        background: #fafafa;
        .content {
          color: #666666;
        }
      }
    }
  }