@use '../abstracts/mixins';
.navbar-text {
    display: inline-block;
    flex-direction: row;
    .btn {
      @include mixins.button;
    }
  }
  .section-hero::after {
    //     section ın afterına gradienti koymak için boş bi content verdik sonrasında position absolute kullandık.
    content: " ";
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
    z-index: -1;
    opacity: 0.1;
    background: var(
      --gra-blue-2,
      linear-gradient(
        134deg,
        #3984f4 0%,
        #0cd3ff 39.06%,
        #2f7cf0 76.56%,
        #0e65e8 100%
      )
    );
  }